h1.title {text-align:center; font-family:cursive}
h3.genre {text-align:center}
td.address {text-align:right}
table.place {background-color:lightslategray}
td.summary {vertical-align:top; width:50%}
td.role {vertical-align:top; width:25%}
td.description {vertical-align:top; width:50%}
td.copyright {vertical-align:top}
.w3c {vertical-align:top; text-align:right; border-width:0}
.tool {font-style:italic}
.nav {font-family:sans-serif}
